*{
    box-sizing: border-box;
}
body::after{
  content:'';
  background:hsl(228, 21%, 76%);
  height: 40%;
  width: 100%;
  border-radius: 0 0 0 150px;
  position: absolute;
  top:0;
  z-index:-1;
  left:0;
  right:0;
}
main{
  margin-top: 50px;
  text-align: center;
  position: relative;
  background:url('./images/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

main h1{
  font-size: 20px;
}
.slidecontainer {
  width: 100%;
  height: 75%;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  background-color:aliceblue;
  box-shadow: 0 2px 2px 0 grey;
}
h2{
  text-align: center;
}
p{
  font-size: 20px;
  text-align: center;
}
.slider1 {
  width: 100%;
  height:10px;
  border-radius: 20px;
}
.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
 background: hsl(174, 86%, 45%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:url('./images/icon-slider.svg');
  cursor: pointer;
}
.slider1::-webkit-range-progress{
  height: 10px;
  border-radius: 25px;
  background: hsl(174, 86%, 45%);
}
.slider1::-moz-range-progress{
  height: 10px;
  border-radius: 25px;
  background: hsl(174, 86%, 45%);
}
.slider1::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border:none;
  border-radius: 50%;
  background-image:url('./images/icon-slider.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background: hsl(174, 86%, 45%);
  cursor: pointer;
}
.slider1::-moz-range-track{
  background: hsl(174,77%,80%);
  height: 10px;
}
.slider1::-webkit-range-track{
  background: hsl(174,77%,80%);
  height: 10px;
}
.container{
  margin-left: 20px;
}
.discount{
  background:  hsl(15, 100%, 70%);
  border-radius: 20px;
  padding: 5px;
}

 /*Toogle Switch*/
 .switch{
  position: relative;
   display: inline-block;
 width: 60px;
 height: 30px;
  margin: 0;
 }
 input,label{
   display: inline-block;
   vertical-align: middle;
   margin: 10px 0;
 }
 .switch input{
   opacity: 0;
   width: 0;
   height: 0;
 }
 .slider{
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #1e2321;
   transition: 0.6s ease transform,0.6s box-shadow;
   box-shadow: 2px 6px 20px #1e2321;
   transform: translate(0px, 0px);
 }
 .slider::before{
   position: absolute;
   content:"";
   height: 80%;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: #fff;
   transition: 0.4s;
 }
 input:checked + .slider{
   background-color: #50bfe6;
 }
 input:focus + .slider{
   box-shadow: 0 0 1px #50bfe6;
 }
 input:checked + .slider::before{
   transform: translateX(26px);
 }
 .slider.round{
   border-radius: 34px;
 }
 .slider.round::before{
   border-radius: 50%;
 }
 /*End of toggle Style*/

 section{
   margin-top: 50px;
   border-top: 2px solid grey;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 button{
   border:none;
   background-color: grey;
   border-radius: 20px;
   padding: 10px 30px;
 }
 .fa{
color:rgb(77, 165, 77);
 }
 @media screen and (min-width: 739px){
   .slidecontainer{
     height: 75%;
   }
   .container{
     display: flex;
     justify-content: center;
   }
 }
 @media screen and (min-width:1440px){
   .slidecontainer{
     width: 50%;
     height: 60%;
     position: relative;
     left: 400px;
   }
   section{
     display: flex;
     flex-direction: row;
     justify-content: center;
    justify-content: space-around;
   }
   .price{
  position: absolute;
  right:100px;
}
.pageviews{
  text-align: left;
  margin-left: 50px;
}
 }
